<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="STU" type="BlueWombat.BusinessLogic.Config.STUConfig, BlueWombat.STU.BusinessLogic"/>
  </configSections>
  <STU>
    <OriginalLanguages>
      <Language>da-DK</Language>
      <Language>en-US</Language>
      <Language>en-US</Language>
      <Language>en-US</Language>
      <Language>en-US</Language>
      <Language>en-US</Language>
      <Language>en-US</Language>
    </OriginalLanguages>
    <TargetLanguages>
      <Language>de-DE</Language>
      <Language>en-GB</Language>
    </TargetLanguages>
  </STU>
</configuration>